In [1]:
import os
import pandas as pd
os.chdir(r"E:\Data_Related_learning")

In [2]:
data_csv = pd.read_csv('Iris_data_sample.csv')

In [3]:
data_csv

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
data_csv = pd.read_csv('Iris_data_sample.csv',index_col=0)

In [5]:
data_csv

    SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm         Species
1             5.1           3.5           1.4           0.2     Iris-setosa
2             4.9           NaN           1.4           0.2             NaN
3             4.7           3.2           1.3           0.2     Iris-setosa
4              ??           3.1           1.5           0.2     Iris-setosa
5               5           3.6           ###           0.2     Iris-setosa
..            ...           ...           ...           ...             ...
146           6.7           3.0           5.2           2.3  Iris-virginica
147           6.3           2.5             5           1.9  Iris-virginica
148           6.5           3.0           5.2           2.0  Iris-virginica
149           6.2           3.4           5.4           2.3  Iris-virginica
150           5.9           3.0           5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
data_csv = pd.read_csv('Iris_data_sample.csv', index_col=0, na_values=["??"])
data_csv.head(10)

    SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm      Species
1             5.1           3.5           1.4           0.2  Iris-setosa
2             4.9           NaN           1.4           0.2          NaN
3             4.7           3.2           1.3           0.2  Iris-setosa
4             NaN           3.1           1.5           0.2  Iris-setosa
5             5.0           3.6           ###           0.2  Iris-setosa
6             5.4           3.9           NaN           0.4  Iris-setosa
7             4.6           3.4           1.4           0.3  Iris-setosa
8             5.0           3.4           1.5           0.2  Iris-setosa
9             4.4           2.9           1.4           0.2  Iris-setosa
10            4.9           3.1           1.5           0.1  Iris-setosa